<% unless @order.nil? %>
  <div id="order_number">
    Order Number : <%= @order.number %>
  </div>
  <div id="order_status">
    Order State :
    <span class="state <%= @order.state.downcase %>"><%= t("order_state.#{@order.state.downcase}") %></span>
  </div>
  <div id="shipping_status">
    Shipping status :
    <span class="state <%= @order.shipment_state %>">
      <%= t("shipment_states.#{@order.shipment_state}") %>
    </span>
  </div>
  <div id="payment_status">
    Payment status :
    <span class="state <%= @order.payment_state %>">
      <%= t("payment_states.#{@order.payment_state}") %>
    </span>
  </div>
  <div id="customer_name">Customer : <%= @customer %></div>

  <div id="order_product">
    <table>
      <thead id="line-items" data-hook>
        <tr data-hook="order_details_line_items_headers">
          <th colspan="2"><%= t(:item) %></th>
          <th class="price"><%= t(:price) %></th>
          <th class="qty"><%= t(:qty) %></th>
          <th class="total"><span><%= t(:total) %></span></th>
        </tr>
      </thead>
      <% @order.line_items.each do |item| %>
        <tr data-hook="order_details_line_item_row">
          <td data-hook="order_item_image">
            <% if item.variant.images.length == 0 %>
              <%= link_to small_image(item.variant.product), item.variant.product %>
            <% else %>
              <%= link_to image_tag(item.variant.images.first.attachment.url(:small)), item.variant.product %>
            <% end %>
          </td>
          <td data-hook="order_item_description">
            <h4><%= item.variant.product.name %></h4>
            <%= truncate(item.variant.product.description, :length => 100, :omission => "...") %>
            <%= "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
          </td>
          <td data-hook="order_item_price" class="price"><span><%= item.variant.display_amount %></span></td>
          <td data-hook="order_item_qty"><%= item.quantity %></td>
          <td data-hook="order_item_total" class="total"><span><%= item.display_amount %></span></td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <div id="not_found">There is no order with this number.</div>
<% end %>
