<h2>Order Information</h2>

<%= form_for @order, :url => search_order_path, :remote => "true" do |f| %>
<div>
  Order number : <%= f.text_field :number %>
  <%= f.submit "Search" %>
</div>
<% end %>

<div id="detail_order">
  <div id="order_product">
  </div>
</div>
