<div id="header">
  <div class="line_header">
  </div>
	<div class="headline_right">
		<div class="account_locale_cart">
      <ul class="kotak_cart">
        <li><%= link_to "#{t :cart}", cart_path %></li>
        <li class="value_cart"><%= @current_order_user.nil? ? "0" : @current_order_user.display_total %></li>
      </ul>
      <ul class="search">
        <%= form_tag products_path, :method => :get, :id => "form_search" do %>
          <li class="img_search">
            <%= image_submit_tag "store/spree_vintage_theme/default/Search.png", :name => nil, :id => "btn_search" %>
          </li>
          <li>
            <%= search_field_tag :keywords, params[:keywords], :placeholder => t(:search) %> 
          </li>
        <% end %>
      </ul>
      <% if current_user.nil? %>
        <%= render :partial => "shared/login.html.erb" %>
      <% else %>
        <%= render :partial => "shared/logout.html.erb" %>
      <% end %>
		</div>
	</div>
	<div class="headline_left">
		<div class="logo">
			<%= link_to image_tag('store/spree_vintage_theme/default/logo coba.png'), root_path %>
		</div>
		<div class="menu">
			<ul class="navigation_menu">
        <% @menus.each do |taxon| %>
          <li><%= link_to(taxon.name, seo_url(taxon)) %></li>
        <% end %>
        <li><a href="#" id="more_menu" data-toggle="modal"><%= t :more %></a></li>
			</ul>
		</div>
</div>

<div class="notice">
</div>
<div class="error">
</div>
<div id="dlg_more_menu" title="<%= t :more_menu %>">
  <h3 id="myModalLabel">More menu</h3>
  <% get_taxonomies.each do |taxonomy| %>
    <div class="fat-footer-taxon">
    <h6 class='taxonomy-root'><%= taxonomy.name %></h6>
    <%= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>
    </div>
  <% end %>
</div>

<style type="text/css">
  #dlg_more_menu .close{
    color: black;
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $("#locale").change(function(){
      $.ajax({
                url: "<%= change_locale_path %>",
                type: "POST",
                data: { locale: $("#locale").val() },
                success: function(result)
                         {
                            if(result.notice != "")
                              location.reload();
                            else
                              alert(result.error);
                         }
      });
    });
  });
</script>
