<%= form_for @info, :url => admin_spree_vintage_theme_info_path do |f| %>
  <div>
    <%= f.label :title %> :
    <%= t("fat_footer.#{@info.title}") %>
  </div>

  <div>
    <%= f.label :body %><br/>
    <%= f.text_area :body, :rows => 7, :cols => 30 %>
  </div>

  <div>
    <%= f.submit %>
    <%= link_to (f.button t(:back)), admin_spree_vintage_theme_infos_path %>
  </div>
<% end %>
