/*
 *= require admin/spree_core
*/

/*
div#dlg_new_image input.text, div#dlg_new_image input.title, div#dlg_new_image input, textarea, select{
  border: 0;
}
*/

div.link_hover:hover{
  cursor: pointer;
}

div.link_hover{
  color: #00ADEE;
}

button#btn_save{
  padding: 6px 15px;
  background: #DDD;
  border-color: #BBB;
  border-style: solid;
  border-width: 1px;
}

.right{
  text-align: right;
}

.left{
  text-align: left;
}

.ui-dialog-title{
  float: left;
}

.ui-icon{
  float:right;
}

/*
table.theme_images, table.theme_images tr, table.theme_images td, table.theme_images {
  border: 1px solid black;
}
*/
