<ul class="account_locale">
  <div class="registration">
    <li class="my_signup"><%= link_to (t :sign_up), new_user_registration_path %></li>
    <li class="my_login"><%= link_to (t :login), login_path %></li>
  </div>
  <li class="locale_list"><%= select_tag(:locale, options_for_select(@list_locales.map { |key, val| [val, key] }, I18n.locale)) %></li>
</ul>
