<%= form_for @image, :url => admin_spree_vintage_theme_theme_image_path do |f| %>
  <table style="width: 60%">
    <tr>
      <td colspan="2"><%= image_tag @image.image.url(:small) %></td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_field :description %></td>
    </tr>
    <tr>
      <td><%= f.label :url_destination %></td>
      <td><%= f.text_field :url_destination %></td>
    </tr>
    <tr><td colspan="2"><%= f.submit %></td></tr>
  </table>
<% end %>
