/*footer*/
div.container{
  margin-top: -40px;
  height: 100%;
}

select{
  padding: 0px !important; /* for override bootstrap css in comobox*/
}

.columns.alpha.omega.sixteen{
  clear: both;
}

#content #fat-footer{
	width: 1024px;
	margin-left: none;
	margin-left: -10px;
	margin-top: -50px;
	border-top-style: dotted;
	border-color: #228765;
	border-width: 3px;
}

#fat-footer .taxonomy-root{
	color: #228765 !important;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 10px !important;
	border-bottom: none !important;
}

#fat-footer .taxons-list{
	color: white !important;
	font-size: 14px !important;
	margin-left: 10px !important;
	margin-top: 5px !important;
	margin-right: 80px;
	padding-bottom: 5px;
	font-weight: bold;
}

#fat-footer .taxons-list a:hover{
	color: #36CC7C !important;
	text-decoration: none;
}

#fat-footer{
	width: 1024px;
	margin-left: none;
  	float: left;
	margin-left: 0px; !important;	
	border-top-style: dotted;
	border-color: #228765;
	border-width: 3px;
}

#fat-footer #taxonomies{
  background: rgb(50,50,50);
  float: left;
  padding-right: 35px;
  padding-top: 25px;
  width: 100%;
}


#fat-footer .fat-footer-taxon{
  float: left;
  margin-left: 30px;
  width: 305px;
}

#fat-footer ul{
  list-style-type: none !important;
}

/*_header.erb*/

body{
	background-color: #f4fcef !important;
}

.slider_pict{
	margin-bottom: 0px !important;	
}

#header{
	width: 1024px;
	font-size: 18px;
	font-family: arial;
	text-align: left;
	clear: both;
	padding-bottom: 10px;
	margin-top: -32px;
}

hr{
	border: none !important;
}

.line_header{
	width: 975px;
	height: 15px;
	background-color: #228765;
	margin-left: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-khtml-border-radius-bottomleft: 20px;	
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;	
	-webkit-border-bottom-right-radius: 20px;
	-khtml-border-radius-bottomright: 20px;	
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;	
	box-shadow: 1px 1px 5px #888888;
}

#content{
	float: left;
	margin-left: 0px;
}

#wrapper{
	width: 1024px;
	margin-top: -5px;
	float: left;
	height: 100%;
	border-top-style: dotted;
	border-color: #228765;
	border-width: 3px;
}

.row{
	margin-bottom: 2px;
	margin-left:  auto !important;
}

div{
	display: block;
}

.headline_right{
	font-size:16px;
	float: right;	
	width: 600px;
	position: relative;
	float: right;
	margin-right: 5px;
}

div.account_locale_cart{
  float: right;
  margin-right: 70px;
  width: 100%;
}

ul.account_locale{
	list-style: none;
	padding: 5px 5px 0 0;
	color: #432700;
	float: right;
	margin-right: 5px !important;
  margin-left: 0px !important;
  margin-top: 10px;
}

.value_cart{
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
	color: #29270C;
}

.registration, .locale_list{
  float: left;
}

.locale_list{
	color: #432700 !important;
	font-weight: bold;
}

#locale{
	width: 90px !important;
	height: 30px;
}

.kotak_cart{
	color: #F2FEFD;
	float: right;
	background-color: #36CC7C;
	padding: 10px;
  	margin-left: 10px !important;
	box-shadow: 1px 1px 5px #888888;
	-webkit-border-bottom-left-radius: 40px;
	-khtml-border-radius-bottomleft: 40px;	
	-moz-border-radius-bottomleft: 40px;
	border-bottom-left-radius: 40px;	
	-webkit-border-bottom-right-radius: 40px;
	-khtml-border-radius-bottomright: 40px;	
	-moz-border-radius-bottomright: 40px;
	border-bottom-right-radius: 40px;
}

.my_logout, .my_login, .my_account, .my_signup{
	float: right;	
	margin-right: 25px !important;
	margin-top: 10px;
}

.my_logout a, .my_login a, .my_account a, .my_signup a{
	color: #77A668 !important;
	font-weight: bold;
}

.registration li a:hover{
	color: #228765 !important;
}

.kotak_cart li a{
	color: #f4fcef !important;
	font-weight: bold;
}

#password-credentials p #user_password{
	margin-bottom: 0px;
}

#forgot_password_link{
	padding-bottom: 10px;	
}
	
ul.search{
  float: right;
  width: 170px;
  border: 1px solid #afafaf;
  padding-left: 0px !important;
  padding-right: 10px !important;
  padding-bottom: 0px !important;
  margin-left: 0px !important;
  margin-top: 15px;
  height: 27px;
}

ul.search li{
  float: right;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.headline_right li a:hover{
	text-decoration: none;
}

.headline_right li{	
	list-style-type: none;
}

.img_search{
  padding-right: 5px;
}

ul.search #keywords{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border: 0px;
  width: 130px;
  height: 20px;
  font-size: 16px;
  list-style-type: none !important;
  margin-right: 3px;
  background: transparent;
}

div.registration{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 6px;
  padding-bottom: 4px;
  margin: 0 !important;
}

div.registration li{
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}

#btn_search{
  padding-top: 3px;
  padding-bottom: 3px;
}

.headline_left{
	width:1024px;
	height:50px;
	top:10px;
	z-index:90;	
	float: left;
}

.logo{
	float: left;
	width: 200px;
	margin-top: -10px;
	margin-left: 30px;
}
/*--maria changes navigation to menu*/
.menu{
	float: left;
}

ul.navigation_menu{
	float: left;
	list-style: none;
	width: auto;
	margin: 0;
	padding: 10px 0 0 0;
	color: #f7f7f7;
}

ul.navigation_menu li{
	float: left;	
	font-size: 18px;
	margin-left: 65px;
	margin-top: 10px;
	font-weight: bold;
}

ul.navigation_menu li a{
	color: #77A668 !important;
	margin-top: 5px;
}

ul.navigation_menu li a:hover{
	text-decoration: none;
	color: #228765 !important;
}

#featured{
	width: 1024px;
	height: 230px;
	color: white;
	font-size: 16px;
	margin-top: 20px;
}

.image_categories{
	float: left; 
	position: relative;
	margin-bottom: 25px;
	box-shadow: 0px 0px 7px grey;
}

.image_categories_new{
	float: left; 
	position: relative;
	margin-bottom: 25px;
	margin-left: 17px;
	margin-right: 17px;	
	box-shadow: 0px 0px 7px grey;
}

.promotion_ribbon, .promotion_ribbon_show{
	font-size: 16px;
	font-weight: bold;
	background-color: #77A668;
	box-shadow: 1px 1px 5px #228765;
	-webkit-border-bottom-left-radius: 20px;
	-khtml-border-radius-bottomleft: 20px;	
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	color: white;
	padding-bottom: 15px;
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 10px;
	position: absolute;
	right: 0;
}

.promotion_ribbon_show{
	font-size: 20px;
	right: 16.8em;
}

.promotion{
	bottom: 0;
	float: left;
	position: absolute;
	background-color: #77A668;
}

.tag_promotion a{
	color: #F4FCEF !important;
}

.tag_promotion a:hover{
	text-decoration: none;
	color: #29270C !important;
}

h1.title_best_new{
	margin-left: 25px !important;
	margin-top: 10px !important;
}

.tag_promotion{
	text-shadow: 1px 1px #white;
	font-size: 16px;
	color: #f2fefd;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}

/*Produk info*/

#products{
	margin-bottom: 30px;
	margin-left: 10px !important;
}

li[data-hook="products_list_item"]{
	float: left;
	position: relative;
}

#product_caption{
	border-bottom: 1px solid #228765;
	margin-bottom: 15px;
	margin-left: 390px;
	margin-right: -55px;
	font-size: 18px;
	font-weight: bold;
	color: #228765;
	padding-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

#product_caption_price{
	color: #36CC7C;
}

.taxon{
	width: 750px;
}

.product-info{
	background-color: white;
	opacity:0.7;
	bottom: 0;
	color: white;	
	z-index: 200;
	position: absolute;
	width: 225px;
	height: 245px;
	margin-left: -8px;
	margin-bottom: -8px;	
	border:6px solid #77A668;
}

.product_name{
	color: #228765 !important;
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}

a.product_view{
	color: white !important;
	border-radius: 6px;
	font-size: 18px;
	background-color: black;
	padding-right: 40px;
	padding-top: 10px;
	padding-left: 40px;
	padding-bottom: 10px;
	margin-top: 110px;
	margin-left: 55px;
	position: absolute;
	opacity:1;
	box-shadow: 1px 1px 4px black;
}

.product_price a:hover{
	color: #36CC7C !important;
}

ul#products li{
	width: 220px;
	box-shadow: 0px 0px 6px #228765;
	height: 240px;
	margin-left: 15px !important;
	margin: 0px;
	background-color: white;
	margin-bottom: 15px !important;
	border: 4px solid #228765;	
	transition:height 2s;
	-moz-transition:height 2s; /* Firefox 4 */
	-webkit-transition:height 2s; /* Safari and Chrome */
	-o-transition:height 2s;
}

ul#products li .product-image{
	border: none;
}

.product-image{
	min-height: 150px !important;
	margin-bottom: 10px;
}

#main-image{
	min-width: 350px;
	min-height: 420px;
}

#main-image img{
	max-width: 350px;
	max-height: 350px;
}
.product-image a img{
	z-index: -100;
	width: 150px;
}

#thumbnails{
	margin-top: -65px;
	margin-left: 25px;
}
 
#product-thumbnails{
	margin-top: 0px;
}

.thumbnails > li{
	margin-left: 0px !important;
}

div[data-hook="product_properties"]{
	margin-top: -20px;
	margin-left: -10px;
}
	
p{
	padding: 0px !important;
}

#breadcrumbs{
	margin-top: 15px;
	margin-bottom: auto;
	margin-left: 235px;
	width: 75%;
	float: left;
	border-bottom: none;
}

#breadcrumbs li a{
	color: #228765 !important;
	font-size: 16px;
	font-weight: bold;
}

#breadcrumbs li a:hover{
	color: #36CC7C !Important;
}

#breadcrumbs span a{
	color: #36CC7C !important;
}

#breadcrumbs span a:hover{
	color: #228765 !important;
}

.inline a{
	font-size: 14px;
}

h5.subtaxon-title a{
	text-decoration: none;	
	color: #77A668 !important;
}

h5.subtaxon-title{
	border-bottom: none;
	width: 100%;
	margin-left: 25px;
	font-size: 16px;
}

/*sidebar*/
#sidebar{
	padding-top: 15px;
	float: left;
	min-height: 100%;
	height: 100%;
	margin-left: 5px;
	margin-top: -45px;
}

#sidebar a:hover{
	text-decoration: none;
}

#sidebar_products_search input[type="submit"]{
	margin-left: 20px;
}

input[type="submit"]:hover, #add-to-cart-button:hover{
	background-color: #94D794;
	border: 1px solid #36CC7C;
}

.pagination{
	float: left !important;
	margin-top: -25px !important;
	margin-left: 25px !important;
}

.pagination span{
	float: left !important;
	font-size: 14px !important;
	font-weight: bold !important;
	color: #228765 !important;
}

.pagination a{
	border: none !important;
	color: #228765 !important;
	font-size: 14px !important;
	font-weight: bold !important;
	line-height: 18px !important;
	float: left !important;
}

.pagination a:hover{
	background-color: transparent !important;
	color: #94D794 !important;
}

.filter_choices{
	margin-left: 20px;
}

.filter_choices li label{
	color: #77A668 !important;
	font-weight: bold;
}


/*checkout - edit.html.erb*/
#checkout{
	width: 1024px;
	margin-left: -10px;
}

#button_continue_shopping{
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 18px;
 	margin-top: 44px;
	margin-left: 40px;
	margin-bottom: 30px;
	background-color: #77A668;
	color: #011526;
}

#button_continue_shopping:hover{
   text-decoration: none;
   background-color: #94D794;
	border: 1px solid #36CC7C;
}

/* checkout - progres step*/
h1{
	font-size: 22px !important;
	margin-top: 10px !important;
}

#content h1{
	margin-left: 50px;
	text-transform: uppercase;
	color: #77A668;
}

div[data-hook="taxon_products"]{
	color: #228765;
	font-size: 18px;
}

.container .thirteen.columns{
	margin-left: -50px;
}


#checkout-step-address, #checkout-step-delivery, #checkout-step-payment, #checkout-step-confirm, #checkout-step-complete{
	width: 950px;
	background-color: #94D794;
}

.progress-steps li{
	float: left;
	margin-right: 0;
}

.progress-steps li a:hover{
	text-decoration: none;
}

.progress-steps li.current-first, .progress-steps li.current{	
	background-color: #228765;
	width: 120px;
	padding-top: 7px;
	padding-bottom: 7px;
}

ol.progress-steps li{
	padding-top: 7px;
	padding-bottom: 7px;
	color: grey;
}

.progress-steps li.completed-first, .progress-steps li.completed{
	background-color: #228765;
	width: 120px;
	color: #343434;
	border-right: 1px solid #29270C;
	color: white;
}

.progress-steps li.completed-first a:hover, .progress-steps li.completed a:hover{
	background-color: 0468BF !important;
}

.progress-steps li.completed-first a, .progress-steps li.completed a{
	color: white !important;
}

.progress-steps li.completed-first:hover, .progress-steps li.completed:hover, .progress-steps li.completed-first:hover a:hover, .progress-steps li.completed:hover a:hover{
	background-color: #b1161a;	
	color: white !important;
}

/*checkout - billing address*/
.container .six.columns, .columns .omega .six{
	width:320px;
	margin-right: 20px;
}

#billing legend, #shipping legend, #shipping_method legend, #payment legend, #order_details legend, #order_summary legend{
	color: #228765;
}

.checkout_header{
	float: left;
}

.form-buttons{
	margin-left: 40px !important;
}

div[data-hook="outside_cart_form"]{
	margin-left: 10px;
}

legend{
	width: auto !important;
	border-bottom: 0 !important;
	text-align: left;
}

label{
	display: inline !important;
}

label, input, button, select, textarea{
	color: #343434 !important;
	font-size: 14px !important;
}

p.field{
	padding: 0;
	margin-left: 10px;
	margin-top: -5px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, 
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, 
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
	border-color: #36CC7C !important;
}

#order_bill_address_attributes_firstname.required{
	margin-top: 6px;
}

.required{
	width: 270px;
	margin-right: 20px;
}

span.required{
	color: #94D794 !important;
}

#use_billing{
	margin-right: 10px;
}

p[data-hook="use_billing"]{
	background-color: transparent;
	float: right;
	margin-left: 170px;
	width: 130px;
}

div[data-hook='checkout_progress']{
	clear: both;
	margin-left: 10px !important;
}

tr[data-hook="order_total"]{
	font-size: 14px !important;
}

#billing, #shipping, #shipping_method, #payment, #order_details, #order_summary{
	border: 1px solid #228765;
}

/*order summary*/

#checkout-summary{
	margin-top: 17px;
	margin-left: 35px;
	margin-bottom: 20px;
	border: 1px solid #228765;
}

#checkout-summary h3{
	line-height: 33px !important;
	margin-top: 1px !important;
	color: #228765 !important;
	border-bottom: 1px solid #228765;
	margin-bottom: 0;
}

span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong, #checkout-summary table #summary-order-total, #order_details td.price span, 
#order_details td.total span, #order_summary td.price span, #order_summary td.total span, table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], 
table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.order-total{
	color: #228765;
}

table#cart-detail{
	margin-top: 10px;
	background-color: white;
	border-top: 4px solid #228765;
	border-bottom: 4px solid #228765;
}

.cart-item-description h4 a{
	color: #228765 !important;
	text-decoration: none;
}

.cart-item-description h4 a:hover{
	color: #36CC7C !important;
}

.total td{
	color: #228765;
}

tr[data-hook="cart_items_headers"] th{
	padding-top: 10px;
}

tr[data-hook="cart_items_headers"]{
	border-bottom: 1px solid #D9D9DB;
}

table#cart-detail thead{
	background-color: transparent;
}

table thead{
	background-color: transparent;
	border-top: 4px solid #228765;
	background-color: white;
}

div[data-hook="empty_cart"]{
	margin-left: 50px;
}

div[data-hook="empty_cart"] p{
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 20px;
}

div[data-hook="empty_cart"] p a{
	text-decoration: none;
}

div[data-hook="empty_cart"] p a:hover, #order p a:hover{
	background-color: #94D794;
	border: 1px solid #004472;
}


/*shipping method, payment*/
#shipping_method, .form-buttons, #payment, #billing, #shipping{
	margin-left: 45px;
	margin-top: -5px;
}

#shipping{
	width: 100%;
}

#methods{
	margin-top: -20px;
}

div[data-hook="checkout_payment_step"]{
	margin-left: 10px;
	margin-top: -10px;
	margin-bottom: -15px;
}

div[data-hook="checkout_payment_step"] p label input{
	float: left;
	margin-right: 10px;
}

#payment-methods{
	list-style-type: none;
	margin-left: 10px;
}

#payment-methods img{
	margin-left: 10px;
	margin-bottom: 10px;
}

#errorExplanation h2, #errorExplanation p{
	margin-left: 15px;
	margin-right: 15px;
}

.flash.success, .success.errorExplanation{
	background-color: #228765;
}

/*shopping cart*/
.container .sixteen.columns{
	width: 1024px;
}

#shipping_method, #payment{
	width: 640px;
}

#update-cart .coupon-code-field, .container .offset-by-nine{
	margin-top: 0px !important;
	padding-left: 0px !important;
	width: 40%;
}

input[type="submit"]{
	margin-left: 5px;
	margin-top: 9px;	
	font-weight: normal;
}

#update-cart .coupon-code-field, .container .offset-by-nine label{
	font-size: 16px !important;
	font-weight: bold !important;
	margin-top: -39px !important;
	float: right;
	margin-right: 415px;
}

#order_coupon_code{
	margin-top: 10px !important;
}

#buttons_checkout_page button{
	background-color: #77A668;
	border: 1px solid #228765;
}

#buttons_checkout_page button:hover{
	background-color: #94D794;
	border: 1px solid #36CC7C;
}


/*order_summary*/
#order_summary legend{
	margin-left: 30px;
}

#order_summary h1{
	margin-left: 20px !important;
	font-size: 18px !important;
}

#order_summary{
	margin-left: 45px;
	width: 930px;
	margin-bottom: 20px;
}

#order a:hover{
	text-decoration: none;
}

#line-items td{
	background-color: white !important;
}

.steps-data{
	margin-left: -5px !important;
}

#order_details .steps-data h6, #order_summary .steps-data h6{
	border-bottom: 1px solid #228765;
	font-size: 14px;
	text-transform: none;
	color: black;
	font-weight: normal;
	margin-top: 15px;
	padding-bottom: 2px;
	padding-left: 10px;
}

/*registration*/
#existing-customer, #checkout_form_registration, .taxon-title, #update-cart{
	margin-left: 30px;
}

#checkout_form_registration{
	margin-top: 10px;
}

.button .primary{
	background-color: #94D794;
}

div[data-hook="login"] p label input{
	float: left;
	margin-right: 10px !important;
}

div[data-hook="login"] a:hover, div[data-hook="login"] a{
	text-decoration: none !important;
	font-size: 14px;
	font-weight: bold;
}

/*sign up*/
#new-customer, #existing-customer{
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 15px;
}

#new-customer h6, #existing-customer h6{
	font-size: 18px;
	margin-bottom: 20px;
	color: #228765;
	text-transform: none;
}

#account{
	margin-top: -10px;
	float: left;
	margin-bottom: 10px;
}

#guest_checkout h6{
	margin-left: 30px;
	margin-top: 10px;
	text-transform: none;
	color: #228765;
	font-size: 18px;
}

#guest_checkout{
	border-left: 1px solid #228765;
	float: left;
	height: 280px;
	margin-left: 40px;
	padding-left: 40px;
}

#new-customer input[type="submit"], #existing-customer input[type="submit"], #guest_checkout input[type="submit"] {
	margin-left: 0px !Important;
}

#existing-customer input[type="submit"]{
	margin-top: 10px;
	margin-bottom: -10px;
}

div[data-hook="signup"] a:hover, div[data-hook="signup"] a{
	text-decoration: none !important;
	font-size: 14px;
	font-weight: bold;
}

/*cart*/
#clear_cart_link{
	margin-left: 50px;
	margin-top: 49px;
}

button#checkout-link{
	margin-right: 95px;
}

#update-cart, #subtotal{
	width: 930px;
}

p#clear_cart_link a{
	height: 18px;
}

p#clear_cart_link a, p#clear_cart_link input{
	background-color: #ed2227;
	border: 1px solid #CD2027;
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
}

p#clear_cart_link a:hover, p#clear_cart_link input:hover{
	background-color: #94D794;
	border: 1px solid #004472;
}

#subtotal{
	height: 25px;
	padding-top: 5px;
}

#subtotal h5, span.order-total{
	font-size: 18px;
}

span.order-total{
	color: #228765 !important;
}

td.cart-item-total, td.cart-item-price{
	font-size: 16px !important;
	color: #228765 !important;
}

th.cart-adjustment-header{
	font-size: 14px;
	padding-top: 10px;
}

#cart_adjustments tr td{
	font-size: 14px;
}

.order-total{
	margin-right: 55px;
	font-size: 14px;
	margin-left: 5px;
}

.cart-item-image, .cart-item-description, .cart-item-price, .cart-item-quantity, .cart-item-total, .cart-item-delete{
	background-color: white;
}

.cart-item-image{
	border-right: 1px solid #D9D9DB;
}

a{
	color: #343434 !important;
}

::selection, a:hover{
	color: #94D794 !important;
}

::selection{
	color: white !important;
	background-color: black !important;
	text-shadow: 1px 1px grey;
}

.primary{
	background-color: #228765;
	border: 1px solid #011526;
	color: white !important;
}

input[type="submit"], input[type="button"], input[type="reset"], button, a.button{
	background-color: #77A668;
	border: 1px solid #228765;
	color: white !important;
}

/*Order*/
.flash.notice, .notice.errorExplanation{
	color: white !important;
	background-color: #228765;
	font-size: 16px;
	font-weight: bold;
	padding-left: 30px;
}

.errorExplanation{
	background-color: #228765;
	margin-left: 10px;
	margin-right: -10px;
}

#line-items tr td{
	border: 1px solid #228765;
}

/*Search by brand*/
.taxon-title{
	margin-left: 25px !important;
	margin-bottom: 10px !important;
	color: #228765;
}

.filter-title, ul#products li .price, .taxonomy-root{
	color: #228765 !important;
}

#sidebar_products_search .filter-title, .taxonomy-root{
	border-bottom: none !important;
	width: 80%;
	margin-left: 20px;
}

.nowrap{
	list-style-type: none !important;
}

.taxons-list{
	list-style-type: none !important;
	margin-left: 20px;
	padding: 0px 0px 15px;
	font-weight: bold;
}


.taxons-list li a{
	font-size: 14px !important;	
	color: #77A668 !important;
}

.taxons-list li a:hover{
	color: #36CC7C !important;
}

/*produk*/
#product-thumbnails li:hover, #product-thumbnails li.selected, .product-image:hover{
	border-color: #228765 !important;
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{
	border-color: #36CC7C !important;
	outline: none !important;
}

.odd{
	background-color: #dddddd !important;
}

#product-images{
	margin-left: 20px;
	height: 450px;
	margin-top: -40px;
}

.product-image{
 	max-height: 150px;
 	max-width: 220px;
}

.product-image img{
	max-height: 150px;
	max-width: 220px;
}

#product-images #main-image img{
	width: 100%;
}

#products{
	width: 750px;
	margin-top: 20px;
}

#products a:hover, #breadcrumbs a:hover{
	text-decoration: none;
}

.total{
	margin-right: 10px;
}

#product-properties{
	margin-left: 30px;
	margin-bottom: 1.5em;
}

.add-to-cart{
	float: left;
	width: 350px;
}

.add-to-cart input[type="number"]{
	float: left;
}

#add-to-cart-button{
	margin-left: 20px;
	background-color: #77A668;
	border: 1px solid #228765;
	float: left;
}

.product-title{
	margin-left: 0px !important;
}

#product-description{
	float: right;
	width: 350px;
}

h6.product-section-title{
	margin-left: 30px !important;
	margin-bottom: 10px;
	color: #228765;
}

#product-price{
	margin-left: 0px;
}

#product-price h6.product-section-title{
	color: #343434;
	margin-left: 0px !important;
}

#product-variants h6.product-section-title{
	color: #228765;
	margin-left: 0px !important;
}

#taxon-crumbs h6.product-section-title{
	margin-left: 50px !important;
	margin-top: -5px;
	color: #228765;
}

#taxon-crumbs ul li{
	list-style-type: none;
	margin-left: 25px;
}

#taxon-crumbs ul li a{
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #77A668 !important;
}

#taxon-crumbs ul li a:hover{
	color: #36CC7C !important;
}

#product-variants{
	width: 350px;
}

#product-variants ul li{
	list-style-type: none;
	margin-left: -30px;
}

/*delivery*/
#methods p label{
	width: 170px !important;
	float: left;
	margin-right: 30px;
}

#methods p label input{
	float: left;
	margin-right: 10px;
}

/*akun*/
.account-summary, .account-my-orders{
	margin-left: 40px;
	margin-right: 40px;
}

.account-my-orders{
	margin-bottom: 10px;
}

dl#user-info dd, #user-info dd{
	margin-left: 0px;
	font-size: 14px;
}

#user-info{
	border: none;
	margin-left: -5px;
	margin-top: -5px;
	font-size: 16px;
}

#user-info dd a{
	font-weight: bold;
	text-decoration: none;
}

.order-summary thead tr{
	background-color: #228765;
	color: #FEEFDA ;
}

.account-my-orders h3{
	margin-left: 10px;
	margin-bottom: 5px;
}

.order-number a:hover{
	text-decoration: none;
	font-size: 14px;
}

/*search*/
h6.search-results-title{
	margin-left: 25px;
	color: #228765;
	margin-top: 15px;
	border: none;
}
