<div id="product_caption">
  <div style="float:left" id='product_caption_name'><%= @product.name %></div>
  <div style="float:right;" id="product_caption_price"><%= @product.price_in(current_currency).display_price %></div>
</div>
<div style="clear:both;"></div>
